<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<parameter name="sLocation" value="Nuremberg"></parameter>
	<parameter name="sradius" value="100 miles"></parameter>
	<parameter name="checkInDate" value="2021-05-21"></parameter>
	<parameter name="checkOutDate" value="2021-05-23"></parameter>
	<parameter name="newPageText" value="Sign in"></parameter>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qa.testcases.TrivagoMainTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
